:root {
    --text-color: #05F2DB;
}
* {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 44, 64);
}

/* rgb(10, 25, 47) */

header {
    /* background-color: #1D2C40; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    margin: 15px;
    padding: 0 30px;
}

header nav ul li a {
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    /* color: rgba(230, 230, 230, 0.75); */
    color: var(--text-color);       
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 15px;
    list-style: none;
}

header button {
    font-family: monospace;
    font-size: 15px;
    /* color: rgba(230, 230, 230, 0.75); */
    color: var(--text-color);   
    padding: 10px;
    height: 40px;
    width: 30 px;   
}

header div {
    height: 50px;
    width: 50px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
}

header img {
    width: 100%;
}
/* .header-img {
    flex: 1 12%;
    height: 15px;
    width: 15px;

} */

