:root {     
    --primary-text-color: #64ffdbc2;
    --secondary-text-color: #ffffffd5;
    --tertiary-text-color: #ffffff77;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    background-color:#111827;
}

body {
    box-sizing: border-box;
}

/* ------------- Start Header -------------- */
header {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 0 30px;
    margin-left:auto;
    margin-right: auto;
    border-bottom: 1px solid var(--primary-text-color);
}

header h2 {
    padding: 15px;
}

section {
    padding: 60px;
}

.nav-header {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-header ul li a {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--font-family);
}

.nav-header a:hover {
    color: var(--primary-text-color);
}
/* ----------------- End Header ---------------- */

/*  ----------------- Introduction Start ----------------------- */
.container h2, h1, p {
    line-height: 1.6;
}

.container a{
    text-decoration: none;
    color: var(--primary-text-color);
}

/*  ----------------- Introduction End----------------------- */

/* ---------------- Start Projects --------  */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project img {
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}

.project {
    width: 350px;
    height: 300px;
    margin: 15px auto;
    justify-content: start;
}

.project a:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
/* ---------------- End Projects ---------- */


/* --------------- Contact Start ------------------ */

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

/* --------------- Contact End ------------------ */

/* ------------- Start Utility Classed ---------- */
.primary-text {
    color: var(--primary-text-color);
}
.secondary-text {
    color: var(--secondary-text-color);
}
.tertiary-text {
    color: var(--tertiary-text-color);
}

.width-750 {
    width: 750px;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.container h2 {
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--primary-text-color);
}

.container h1 {
    color: var(--secondary-text-color);
    font-size: 55px;
}

.container p {
    color: var(--tertiary-text-color);
    font-size: 20px;
    flex-wrap: wrap;
    font-family: var(--font-family);
}
.section-format {
    display: flex;
    flex-wrap: wrap;
 }

 .image img{
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    border: 2px solid var(--primary-text-color);
}

.ulist-format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* ------------- End Utility Classed ---------- */

/* -------------- Media Queries ------------------ */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: space-between;
        position: relative;
    }
    .nav-header ul li a {
        font-size: 20px;
    }

    .width-750 {
        width: auto;
    }
    .project {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .width-750 {
        width: auto;
    }
    .project {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 575px) {
    .project {
        width: auto;
        height: auto;
    }
    .width-750 {
        width: auto;
    }
}